<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestThuVien.Properties.Settings.ThuVienSoConnectionString"
            connectionString="Data Source=DESKTOP-E8DMDAE\SQLEXPRESS;Initial Catalog=ThuVienSo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>